<!-- Core -->
<script src="/js/core/config.js"></script>
<script src="/js/core/site.js"></script>

<!-- Utils -->
<script src="/js/utils/api.js"></script>
<script src="/js/utils/format.js"></script>
<script src="/js/utils/storage.js"></script>

<!-- Components -->
<script src="/js/components/cards.js"></script>
<script src="/js/components/ui.js"></script>

<!-- Pages -->
<script src="/js/pages/home.js"></script>
<script src="/js/pages/units.js"></script>
<script src="/js/pages/unit-details.js"></script>
<script src="/js/pages/projects.js"></script>
<script src="/js/pages/project-details.js"></script>
<script src="/js/pages/news.js"></script>
<script src="/js/pages/news-details.js"></script>
<script src="/js/pages/contact.js"></script>
<script src="/js/pages/team.js"></script>
<script src="/js/pages/partners.js"></script>
<script src="/js/pages/reviews.js"></script>
<script src="/js/pages/wishlist.js"></script>
<script src="/js/pages/privacy.js"></script>
<script src="/js/pages/terms.js"></script>

<!-- i18n & Main -->
<script src="/js/i18n.js"></script>
<script src="/js/main.js?v=8"></script>